* {
        padding: 0px;
        margin: 0px;
        font-family: "Courier New", Courier, monospace;
        user-select: none;
}

body {
        background: #4CA1AF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right,
                #C4E0E5,
                #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right,
                #C4E0E5,
                #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        overflow: hidden;
}

h1 {
        font-family: 'Lexend Tera', sans-serif;
        position: relative;
        text-align: center;
        color: #FFFFFF;
}

#list {
        margin-top: 15px;
        position: absolute;
        padding: 5px;
}



.action {
        width: 200px;
        margin: 400px auto 0px;
}

.add, .remove {
        padding: 5px 20px 5px;
}

.remove {
        margin-left: 10px;
}

.t_box {
        margin: 10px;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s, visibility 0.2s linear;
}
